<html>
    <head>
        <meta charset="utf-8" />
        <title>Firebase</title>
        <link rel="stylesheet" href="../styles/style.css" />
    </head>
    <body>
        <h1>
            Welcome to BrilliAntics!
        </h1>

        <button id="create" type="button">Create a new room</button>
        <button id="join" type="button">Join a new room</button>
        <!-- Create new room -->
        <div id="create_room_button" style="display: none">
            <div class="create-form">
                <h4>Create a room</h4>
                <h5>Room name:</h5> <input type="text" name="room_name" class='room_name'>
                <h5>Your name:</h5> <input type="text" name="player_name" class='player_name'>
                <button class="submit-create-room">Create Room</button>
            </div>
        </div>
        <!-- Join existing room -->
        <div id="join_existing_room" style="display: none">
            <div class="join-form">
                <h4>Enter your room name</h4><input type="text" name="room_name" class='room_name'>
                <h5>Your name:</h5> <input type="text" name="player_name" class='player_name'>
                <button class="submit-join-room">Join Room</button>
            </div>
        </div>
        <!-- JQuery -->
        <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous">
        </script>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-database.js"></script>
        <script type="text/javascript" src="../app/app.js"></script>
        <script type="text/javascript" src="./landing_page.js"></script>
        <!-- API package for querying -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </body>
</html>
